<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
<h1>Edit Event</h1>
<nav th:replace = "fragments :: navLinks"></nav>
<form th:action = "@{/events/edit}" method = "post">
    <div class = "form-group">
        <label> Event Name
            <input type = "text" name = "name" class = "form-control" th:value="${event.getName()}" />
        </label>
        <label> Event Description
            <input type = "text" name ="description" class = "form-control" th:value = "${event.description}"/>
        </label>
        <label> Event Description
            <input type = "text" name ="contactEmail" class = "form-control" th:value = "${event.contactEmail}"/>
        </label>
        <input type="hidden" th:value="${event.id}" name="eventId" />
    </div>
    <div class = "form-group">
        <input type = "submit" value = "Confirm" class = "btn btn-success" />
    </div>
</form>
</body>
</html>