<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
<h1>Edit Event</h1>
<nav th:replace = "fragments :: navLinks"></nav>
<!--TODO refactor to redirect back to events/edit with error messages when bad data given and add fields to edit EventType, location etc. -->
<form th:action = "@{/events/edit}" method = "post">
    <div class = "form-group">
        <label> Event Name
            <input type = "text" name = "name" class = "form-control" th:value="${event.name}" /> <!--TODO This isn't getting the event object for some reason-->
        </label>
        <label> Event Description
            <input type = "text" name ="description" class = "form-control" th:value = "${event.description}"/>
        </label>
        <label> Email
            <input type = "text" name ="contactEmail" class = "form-control" th:value = "${event.contactEmail}"/>
        </label>
        <label> Location
            <input type = "text" name ="location" class = "form-control" th:value = "${event.location}"/>
        </label>
        <label> Attendees
            <input th:field="${event.attendees}" class = "form-control"/>
        </label>
        <label> Type
            <input th:field = "${event.type}"/>
        </label>
        <input type="hidden" th:value="${event.id}" name="eventId" />
    </div>
    <div class = "form-group">
        <input type = "submit" value = "Confirm" class = "btn btn-success" />
    </div>
</form>
</body>
</html>