<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
    <h1 th:replace = "fragments :: styledHeader"></h1>
    <nav th:replace = "fragments :: navLinks"></nav>
    <p th:text="${errorMsg}" style="color:red;"></p>
    <th:block th:if = "${events.size()}">
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>ID No.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
                <th>Location</th>
                <th>Type</th>
                <th>Attendees</th>
                <th>Registration Required? </th>
            </tr>
        </thead>

        <tr th:each = "event : ${events}" >
            <td th:text = "${event.getId}"></td>
            <td th:text = '${event.name}'></td>
            <td th:text = '${event.description}'></td>
            <td th:text = '${event.contactEmail}'></td>
            <td th:text = '${event.location}'></td>
            <td th:text = '${event.type.displayName}'></td>
            <td th:text = '${event.attendees}'></td>
            <td><span th:if="${event.isRegistrationRequired()}">Yes</span><span th:unless="${event.isRegistrationRequired()}">No</span></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a><span class = "glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
    </table>
    <a href = "/events/create">Create Event</a>
    </th:block>

    <th:block th:unless = "${events.size()}">
        <p>No events yet!</p>
        <a href = "/events/create">Create Event</a>
    </th:block>

    <div th:replace = "fragments :: linkList"></div>
</body>
</html>