<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
    <h1 th:replace = "fragments :: styledHeader"></h1>
    <nav th:replace = "fragments :: navLinks"></nav>
    <th:block th:if = "${eventsList.size()}">
    <table class = "table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr th:each = "event : ${eventsList}" >
            <td th:text = '${event.getName()}'></td>
            <td th:text = '${event.getDescription()}'></td>
        </tr>
    </table>
    <a href = "/events/create">Create Event</a>
    </th:block>

    <th:block th:unless = "${eventsList.size()}">
        <p>No events yet!</p>
        <a href = "/events/create">Create Event</a>
    </th:block>

    <div th:replace = "fragments :: linkList"></div>
</body>
</html>