<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
    <h1 th:replace = "fragments :: styledHeader"></h1>
    <nav th:replace = "fragments :: navLinks"></nav>
    <p th:text="${errorMsg}" style="color:red;"></p>
    <th:block th:if = "${events.size()}">
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>ID No.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Contact Email</th>
            </tr>
        </thead>
        <tr th:each = "event : ${events}" >
            <td th:text = "${event.getId}"></td>
            <td th:text = '${event.getName()}'></td>
            <td th:text = '${event.getDescription()}'></td>
            <td th:text = '${event.getContactEmail}'></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
        </tr>
    </table>
    <a href = "/events/create">Create Event</a>
    </th:block>

    <th:block th:unless = "${events.size()}">
        <p>No events yet!</p>
        <a href = "/events/create">Create Event</a>
    </th:block>

    <div th:replace = "fragments :: linkList"></div>
</body>
</html>