<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments :: head">

</head>
<body class = "container">
    <h1 th:replace = "fragments :: styledHeader"></h1>
<!--    <a href = "events">Events List</a>-->
    <nav th:replace = "fragments :: navLinks"></nav>
    <p>Welcome to the home page for some thing for my class. I'm putting text here like you would on a home page.</p>
    <div th:replace = "fragments :: linkList"></div>
<!--    <img th:replace = "fragments :: shinji">-->
</body>
</html>